@import '../../styles/variables';

.tableWrapper {
  :global {
    .ant-table-thead > tr > th {
      background: $bg-primary;
      font-weight: 600;
    }
  }
}

.editButton {
  color: $primary-color;
}
